[submodule "foundry/foundry-fund-me/lib/forge-std"]
	path = foundry/foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry/foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = foundry/foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry/foundry-fund-me/lib/foundry-devops"]
	path = foundry/foundry-fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry/foundry-smart-contract-lottery/lib/forge-std"]
	path = foundry/foundry-smart-contract-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/foundry-smart-contract-lottery/lib/chainlink-brownie-contracts"]
	path = foundry/foundry-smart-contract-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry/foundry-smart-contract-lottery/lib/solmate"]
	path = foundry/foundry-smart-contract-lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "foundry/foundry-smart-contract-lottery/lib/foundry-devops"]
	path = foundry/foundry-smart-contract-lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry/foundry-ERC20/lib/forge-std"]
	path = foundry/foundry-ERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/foundry-ERC20/lib/openzeppelin-contracts"]
	path = foundry/foundry-ERC20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry/foundry-first-nft-project/lib/forge-std"]
	path = foundry/foundry-first-nft-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/foundry-first-nft-project/lib/openzeppelin-contracts"]
	path = foundry/foundry-first-nft-project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry/foundry-first-nft-project/lib/foundry-devops"]
	path = foundry/foundry-first-nft-project/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry/foundry-defi-stablecoin/lib/forge-std"]
	path = foundry/foundry-defi-stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/foundry-defi-stablecoin/lib/openzeppelin-contracts"]
	path = foundry/foundry-defi-stablecoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry/foundry-defi-stablecoin/lib/foundry-devops"]
	path = foundry/foundry-defi-stablecoin/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry/foundry-defi-stablecoin/lib/chainlink-brownie-contracts"]
	path = foundry/foundry-defi-stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry/foundry-upgradable-contracts/lib/forge-std"]
	path = foundry/foundry-upgradable-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/foundry-upgradable-contracts/lib/openzeppelin-contracts"]
	path = foundry/foundry-upgradable-contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "foundry/foundry-upgradable-contracts/lib/openzeppelin-contracts-upgradeable"]
	path = foundry/foundry-upgradable-contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
[submodule "foundry/foundry-upgradable-contracts/lib/foundry-devops"]
	path = foundry/foundry-upgradable-contracts/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "foundry/foundry-dao/lib/forge-std"]
	path = foundry/foundry-dao/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/foundry-dao/lib/openzeppelin-contracts"]
	path = foundry/foundry-dao/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "security-and-auditing/3-passwordstore-audit/lib/foundry-devops"]
	path = security-and-auditing/3-passwordstore-audit/lib/foundry-devops
	url = https://github.com/chainaccelorg/foundry-devops
[submodule "security-and-auditing/3-passwordstore-audit/lib/chainlink-brownie-contracts"]
	path = security-and-auditing/3-passwordstore-audit/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "security-and-auditing/3-passwordstore-audit/lib/forge-std"]
	path = security-and-auditing/3-passwordstore-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security-and-auditing/3-passwordstore-audit/lib/openzeppelin-contracts"]
	path = security-and-auditing/3-passwordstore-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "security-research/3-passwordstore-audit/lib/foundry-devops"]
	path = security-research/3-passwordstore-audit/lib/foundry-devops
	url = https://github.com/chainaccelorg/foundry-devops
[submodule "security-research/3-passwordstore-audit/lib/chainlink-brownie-contracts"]
	path = security-research/3-passwordstore-audit/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "security-research/3-passwordstore-audit/lib/forge-std"]
	path = security-research/3-passwordstore-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security-research/3-passwordstore-audit/lib/openzeppelin-contracts"]
	path = security-research/3-passwordstore-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "security-research/4-puppy-raffle-audit/lib/forge-std"]
	path = security-research/4-puppy-raffle-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security-research/4-puppy-raffle-audit/lib/openzeppelin-contracts"]
	path = security-research/4-puppy-raffle-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "security-research/4-puppy-raffle-audit/lib/base64"]
	path = security-research/4-puppy-raffle-audit/lib/base64
	url = https://github.com/Brechtpd/base64
